aiohttp~=3.9.1
beautifulsoup4~=4.12.2
better_profanity~=0.7.0
docx2txt~=0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
faiss-cpu~=1.7.4
grpcio~=1.60.0
langchain~=0.0.352
langchain-community~=0.0.6
numpy~=1.26.2
openai~=1.6.1
pandas~=2.1.4
plotly~=5.18.0
praw~=7.7.1
pydantic~=2.5.3
pydub~=0.25.1
python-docx~=1.1.0
python-dotenv~=1.0.0
pypdf~=3.17.4
pytube~=15.0.0
rank_bm25~=0.2.2
ray[serve]~=2.9.0
selenium~=4.16.0
seleniumbase~=4.22.3
spacy~=3.7.2
spacy-streamlit~=1.0.6
streamlit~=1.29.0
structlog~=23.2.0
tiktoken~=0.5.2
unstructured[all-docs]~=0.11.6
webdriver-manager~=4.0.1
wordcloud~=1.9.3
yfinance~=0.2.33
youtube-transcript-api~=0.6.1